{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Clientes{% endblock %}

{% block page_content %}
<div class="page-header">    
    <h3>Exámen Final Paradigmas de Programación</h3>
</div>	
<div class="row">
	<ul class="list-group col-xs-5">
  <li class="list-group-item">Alumno: Tommasi Matías Gabriel</li>
  <li class="list-group-item">el sistema fue desarrollafo utilizando
	  <span class="label label-success">Python</span>
	  <span class="label label-primary">Flask</span>
	  <span class="label label-warning">Bootstrap</span>
  </li>
  <li class="list-group-item">Primero A (1° A)</li>
  <li class="list-group-item">A	ño 2019</li>
</ul>
</div>
{% endblock %}