{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Clientes{% endblock %}

{% block page_content %}
<div class="page-header">    
    <h3>Exámen Final Paradigmas de Programación</h3>
</div>	
<div class="row">
	<ul class="list-group col-xs-5">
  <li class="list-group-item">Alumno: Tommasi Matías Gabriel</li>
  <li class="list-group-item">el sistema fue desarrollafo utilizando
	  <span class="label label-success">Python</span>
	  <span class="label label-primary">Flask</span>
	  <span class="label label-warning">Bootstrap</span>
  </li>
  <li class="list-group-item">Primero B (1° B)</li>
  <li class="list-group-item">Año 2019</li>
  <li class="list-group-item">También se un poco de<br/>
  <img  rel="icon" src="{{ url_for('static', filename = 'csharp.png') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'vb.jpg') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'asp.png') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'android.png') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'java.png') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'python.jpg') }}" style="width:250px;height:80px;" type="image/x-icon"/>
  <br/>
  y otro poco de<br/>

  <img  rel="icon" src="{{ url_for('static', filename = 'angular.png') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'flask.png') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'jquery.jpg') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'jquery ui.png') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'bootstrap.jpg') }}" style="width:80px;height:80px;" type="image/x-icon"/>
  <img  rel="icon" src="{{ url_for('static', filename = 'leaflet.png') }}" style="width:250px;height:80px;" type="image/x-icon"/>
  </li>
</ul>
</div>
{% endblock %}